.comment-form__container {
	padding: 10px 0 10px 10px;
	border-top: 0.9px solid rgba(92, 147, 187, 0.168627451);
	border-bottom: 0.9px solid rgba(92, 147, 187, 0.168627451);
}

.comment-action__container  {
	display: flex;
	align-items: center;
}

.comment-user-icon__area {
	margin-bottom: 30px;
}

.comment-user__icon-img {
	height: 40px;
	width: 40px;
	border-radius: 30px;
	margin-left: 10px;
}

.comment-user-form__textarea {
	border: none;
	height: 80px;
	resize: none; 
	outline: 0;
	background-color: black;
	color: white;
	width: 400px;
	margin-left: 20px;
	padding-top: 20px;
}

.comment-user-form__textarea::placeholder {
  font-size: 21px;
}

.comment-user-form__post_btn {
	color: white;
	font-weight: bold;
	background-color: #2B9BF0;
	border-radius: 20px;
}