.tweet__container {
	display: flex;
	align-items: center;
	border: 0.9px solid rgba(92, 147, 187, 0.168627451);
	position: relative;
}

.tweet-icon__container {
	// 画像の位置を修正
	position: absolute;
	top: 20px;
	left: 20px;
}

.tweet-icon__img {
	height: 40px;
	width: 40px;
	border-radius: 30px;
}

.tweet-info__container {
	color: white;
	padding: 20px 0 10px 80px;
	width: 100%;
}

.tweet-content__link {
	color: white;
	text-decoration: none;
}

.tweet-image {
	width: 500px;
	height: 280px;
	margin-bottom: 20px;
	border-radius: 10px;
}

.tweet__action-area {
	display: flex;
	align-items: center;
}

.action-icon__area {
	margin-right: 100px;
}
