body {
	background-color: black;
}

.col-md-6 {
	border: 1px solid rgba(186, 212, 230, 0.469);
	border-top: 0;
  border-bottom: 0;
}

.row {
	height: 900px;
}

// いいね
.like-btn {
  color: #8899a6;
}
.like-btn__link {
  color: #8899a6;
	text-decoration: none;
  &:hover {
    color: #8899a6;
  }
}

.like-btn-unlike {
  color: #ff2581;
}
.like-btn-unlike__link {
	text-decoration: none;
  color: #ff2581;
  &:hover {
    color: #ff2581;
  }
}
