/*ページネーション自体のデザイン*/
.pagination {
	padding-left: 170px;
}

// .pagination>li>a {          
//   border: none;     
//   // color: black;   
// 	color: white;
//   background: black;
// 	border-radius: 20px;
// }

.page-link {
	border: none;     
  // color: black;   
	color: white;
  background: black;
	border-radius: 20px;
}

.page-link-first:hover {
	border-radius: 20px;
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  border-radius: 20px;
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 20px;
}